@page
@model KontrolaNawykow.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "Twój dietetyk";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    na razie nie ma dietetyków
    <br>
    <a href="/Diet/Index" class="back-button">Powrót</a>
</body>
</html>